// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// § Regole di stile per l'header
header {
  background-color: #c49b70;

  nav {
    padding: 1rem;

    a {
      color: white;
      text-decoration: none;
    }

    a.brand {
      font-size: 1.5rem;
      text-transform: uppercase;

    }

    ul {
      list-style-type: none;
      margin: 0;

      li {
        padding-left: 1rem;
        font-size: 1.1rem;
      }
    }
  }
}

// ! Regole di stile per la index dei post per l'utente registrato
div.admin-page {
  div.my-card {
    border: 1px solid #aeadad;
    border-radius: 0.3rem;
    padding: 1.5rem;
    height: 280px;
    margin-bottom: 1.3rem;

    img.my-card-img {
      width: 350px;
      object-fit: cover;
      margin-right: 1.5rem;
    }

    div.my-card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div.my-card-body {
        div.my-card-header {
          h2.title {
            margin: 0;
          }

          h5.author {
            font-style: italic;
            margin-bottom: 1rem;
          }
        }

        div.my-card-text {
          height: 75px;
          overflow-y: hidden;
          text-align: justify;
        }
      }
    }
  }

  div.my-sidebar {
    background-color: #c49b70;
    width: 100%;
    height: 100%;
  }
}
